# üêç Python assessment Notebook

üéØ The purpose of this notebook is to assess your prior knowledge of Python in order for us to adapt the contents of the strand accordingly. So in other words, this is NOT a graded test of any kind üòä Please answer with your *real personal* knowledge and in all honesty, there is no one to impress üòâ And if you don't know how to answer a question, don't worry at all. Just leave the cell blank, we'll have time to learn this together.

## Data types

### Integers and strings

Let's consider two variables named `value_1` and `value_2`, instatiated as follows:

In [5]:
value_1 = "10"
value_2 = 20

‚ùìWhat value (or outcome) do you expect when summing (`+`) the values of these two variables?

In [2]:
# üìÉ Write your solution here

‚ùìHow can the cell above be changed so that it can be executed without raising exceptions?

In [ ]:
# üìÉ Write your solution here

In [8]:
int(value_1) + value_2

30

### Lists

Let's imagine a spreadsheet containing catalogue data about an archeological collection of a museum.
We take only the first 10 records, and select the column containing an indication of the type of object:

In [33]:
artefact_type = [
    "kantharos",
    "kylix",
    "krater",
    "dinos",
    "kylix",
    "kantharos",
    "amphora",
    "amphora",
    "amphora",
    "amphora",
]

‚ùì Write an expression to select the 1st item in this list.

In [10]:
# üìÉ Write your solution here

artefact_type[0]

'kantharos'

‚ùì Write now an expression to select the last item.

In [ ]:
# üìÉ Write your solution here

In [12]:
artefact_type[-1]

'amphora'

‚ùì And what about retrieving the last 4 items?

In [ ]:
# üìÉ Write your solution here

In [15]:
artefact_type[-5:-1]

['kantharos', 'amphora', 'amphora', 'amphora']

### Dictionaries

Building upon the example above, let's imagine that we have a dictionary associating the artefact identifier with its type as in the following:

In [18]:
artefact_type_by_id = {
    'P135':'kantharos',
    'A781':'kylix',
    'Q444':'krater',
    'D912':'dinos',
    'B111':'kylix',
    'C789':'kantharos',
    'Z908':'amphora',
    'W222':'amphora',
    'S456':'amphora',
    'F289':'amphora'
}

‚ùìWrite an expression returning from the dictionary `artefact_type_by_id` the value `dinos`.

In [ ]:
# üìÉ Write your solution here

## Control flow statements

### Repetition (`for`)

Let's imagine you want to capitalize the artefact type contained in the list `artefact_type`, which we defined a few cells above.

The following sequence of instructions will do:

In [30]:
artefact_type

['kantharos',
 'kylix',
 'krater',
 'dinos',
 'kylix',
 'kantharos',
 'amphora',
 'amphora',
 'amphora',
 'amphora']

In [31]:
artefact_type[0] = artefact_type[0].upper()
artefact_type[1] = artefact_type[1].upper()
artefact_type[2] = artefact_type[2].upper()
artefact_type[3] = artefact_type[3].upper()
artefact_type[4] = artefact_type[4].upper()
artefact_type[5] = artefact_type[5].upper()
artefact_type[6] = artefact_type[6].upper()
artefact_type[7] = artefact_type[7].upper()
artefact_type[8] = artefact_type[8].upper()
artefact_type[9] = artefact_type[9].upper()

However, to perform such repetitive transformations, which need to be applied to all items of a list or all values in a dictionary, Python offers the `for` control flow statement.

‚ùì Can you rewrite the sequence of statements above in the form of a `for` loop?

*Hint*: there are (at least) two ways of achieving this: 1) by changing the values of `artefact_type` or 2) by creating a new list (with a different name!) which is of the same length as the original one and contains uppercased values.

In [ ]:
# üìÉ Write your solution here

In [40]:
for i in len(artefact_type):
    artefact_type[i] = artefact_type[i].title()

TypeError: 'int' object is not iterable

In [39]:
artefact_type

['Kantharos',
 'Kylix',
 'Krater',
 'Dinos',
 'Kylix',
 'Kantharos',
 'Amphora',
 'Amphora',
 'Amphora',
 'Amphora']

### Selection (`if`/`else`)

Similarly to `for`, `if` allows you to change the linearity of the execution of a sequence of statements by checking that a certain condition is fulfilled.

‚ùì Rewrite your last solution (`for` loop with `upper()` function call) so that `upper` is called only when the artefact type is `amphora`.

In [45]:
# run this cell every time you need
# to revert the list back to its original
# (uncapitalized form)

artefact_type = [
    "kantharos",
    "kylix",
    "krater",
    "dinos",
    "kylix",
    "kantharos",
    "amphora",
    "amphora",
    "amphora",
    "amphora",
]

In [46]:
for i in range(len(artefact_type)):
    if artefact_type[i]=='amphora':
        artefact_type[i] = artefact_type[i].upper()

In [ ]:
# üìÉ Write your solution here

## Functions

Functions let you write reusable blocks of code that perform a certain number of operations. They may have input parameters, and may return a result at the end of their execution. Here's an example of calling and defining a very simple function:

In [48]:
# here I define my function, called `demo`
def demo():
   print('This is an example of a function without input parameters, which does not yield a result')

# and here is my function call
demo()

This is an example of a function without input parameters, which does not yield a result

‚ùì Define a function with the following characteristics:
- its name should be `name_check`
- it should be possible to call it on each item of the list `artefact_type`
- it should return `1` **if** its input value starts with letter `"k"` and return `0` otherwise

Let's take again our example list:

In [49]:
artefact_type = [
    "kantharos",
    "kylix",
    "krater",
    "dinos",
    "kylix",
    "kantharos",
    "amphora",
    "amphora",
    "amphora",
    "amphora",
]

In [56]:
# write your solution here by modifying
# the following function definition
def name_check(list_element):
    #if list_element.startswith('k'):
    if list_element[0] =='k':
        return 1
    else:
        return 0

In [58]:
name_check(artefact_type[1])

1

In [ ]:
# üìÉ Write your solution here

Once the function is defined, run the next cell to find out how many artefact types start with letter 'k'.

In [ ]:
sum([name_check(t) for t in artefact_type])

# Advanced questions

These questions are more advanced, and you are not expected to score 100%. They are designed to assess what to put the focus on.

‚ùì Open the two files named `column1.txt`and `column2.txt` and convert their contents into two lists
- the first list variable should be named `x`, and the second list `y`
- the files contain one element of the list per row; beware that the separator between rows of a text files is the newspace character `\n`
- beware that the contents of a `.txt` file is always of the type `string`. You should account for the fact that the `column2.txt` file contains numerical data.

In [91]:
# üìÉ Write your solution here

with open('../data/column1.txt') as f:
    lines_column1 = f.readlines()

with open('../data/column2.txt') as f:
    lines_column2 = f.readlines()

In [92]:
for i in range(len(lines_column1)):
    if i==len(lines_column1)-1:
        pass
    else:
        lines_column1[i] = str(lines_column1[i][:-1])

for i in range(len(lines_column2)):
    lines_column2[i] = int(lines_column2[i])

In [93]:
lines_column1, lines_column2

(['kantharos', 'kylix', 'krater', 'dinos', 'amphora'], [12, 15, 8, 2, 32])

‚ùì Convert the two column variables into a Pandas dataframe and export it to a csv
- create the Pandas dataframe from the two variables
- the first list should be named `artefact`
- the first list should be named `count`
- it should be output as `export_data.csv` in the same folder as this python notebook

In [ ]:
# üìÉ Write your solution here
 
import pandas as pd

dataframe = pd.DataFrame(data={'artefact':lines_column1, 'count':lines_column2})

In [98]:
dataframe

    artefact  count
0  kantharos     12
1      kylix     15
2     krater      8
3      dinos      2
4    amphora     32

‚ùì Plot a histogram of the number of times each artefact type appears in the list artefact_type
- use a built-in Pandas function
- the `x` and `y` axes should be labelled with the column name
- the figure should have a title
- the bars should be coloured red

In [ ]:
# üìÉ Write your solution here

‚ùì What does the following snippet return ? Try to guess it without running the cell.

`a = [i==5 for i in range(5)]`

In [3]:
# üìÉ Write your solution here