# Chapter I - Pandas (Introduction)

In this notebook we will cover how to:
- work with the two main data types in `pandas`: `DataFrame` and `Series`
- work with data types in `pandas`, especially strings and dates
- load data from JSON and CSV into a `DataFrame`
- manipulate the columns of a `DataFrame`
- access data in a `DataFrame` by means of indexes and slicing

In [34]:
import pandas as pd
import numpy as np
from random import random

## Motivation

In [36]:
df = pd.read_csv('../data/2024-08-13_data.txt', header=None)
df.columns=['ID', 'Name', 'Math', 'Science', 'English']
df['average'] = df[['Math', 'Science', 'English']].mean(axis=1)
df

    ID           Name  Math  Science  English    average
0  101       John Doe    78       85       92  85.000000
1  102     Jane Smith    88       79       85  84.000000
2  103    Emily Davis    91       89       94  91.333333
3  104  Michael Brown    70       75       80  75.000000
4  105  Jessica White    85       93       89  89.000000

## Section (1): Creating a first dataframe from scratch

This section will take you through the steps needed to create a `pandas` DataFrame from scratch.

To create a DataFrame from scratch, you need the values for at least two columns.
Those values are stored in a data type called a `Series`. They can be thought of as the `pandas` version of lists.

A pandas `Series` can be created as follows:

### A) Pandas Series

In [39]:
s = pd.Series([1,2,3])

print(s)
print(' > The type of s is:', type(s))

0    1
1    2
2    3
dtype: int64
 > The type of s is: <class 'pandas.core.series.Series'>

✏️ [Ex.1] 
- ✏️ Create a series called `s` containing 100 random numbers ranging between 0 and 1. You may use the `random` function.
- ✏️ Print the first value of the `Series` you just created.

In [70]:
# step 1: create a list of 100 random values
# step 2: convert that list to a Pandas Series
# step 3: get the first element of that list

# your solution here:


#Step 1
random_list = []

#Step 2
for i in range(100):
    random_list.append(random())
random_series = pd.Series(random_list)
s = random_series
#Step 3
random_series[0]

0.2728657342175689

Each observation in the series has an **index** as well as a set of **values**: they can be accessed via the omonymous properties.
- The data type of the **index** is a `pandas RangeIndex`, akin to a Python `range`.
- The data type of the **values** is a `numpy array`.

✏️ [Ex.2] 
- ✏️ Using the series **index**, print the length of the `Series`
- ✏️ Print the first three elements of the **values** of series `s`.

In [73]:
# your solution here:

s.values[0:3]

array([0.27286573, 0.81135246, 0.92976132])

Pandas `Series` have got useful properties that you can call to easily access information on the data in the Series.
Some of them include:
- `head(n)` and `tail(n)` to access the beginning and end of the series — where `n` is the number of values to get.
- `value_counts()` to show the occurrences of all values in the series. Calling this property returns a `Counter` object, itself contains an `.index` and some `.values` which you can call to access the occurrences' count.
- `min()`, `max()`, `mean()`, `median()` give some basic statistics on the series' data.

✏️ [Ex.3] 
- ✏️ Calculate the range of values in `s`
- ✏️ Find if there are some duplicate values in `s`
- ✏️ Calculate the mean of the first 50 values in `s`

In [106]:
# your solution here:

#question 1
s.max() - s.min()

#question 2
s.duplicated().sum()

#question 3
s.head(50).mean()

0.48411607749675084

- Some of you might want to manipulate time data in the form of dates. Pandas is very convenient for the manipulation of dates. 

To do that, you should use pandas appropriate date type, called `Timestamp`.

For example, VE-day can be encoded as such:

In [107]:
print(pd.Timestamp(1945, 5, 8, 20, 10, 56))

1945-05-08 20:10:56

A date can also be encoded as a string, and pandas will do its best to convert it to a timestamp.

Note that it flexibly supports both 'YYYYMMDD' and 'YYYMMDDHHMMSS'

In [108]:
print(pd.Timestamp('19450508'))
print(pd.Timestamp('19690711025615'))

# What happens if you try to create a Timestamp with a date that doesn't exist? Try it out.

1945-05-08 00:00:00
1969-07-11 02:56:15

The difference between two `Timestamps` is a `Timedelta` object. The number of days contained in the time difference can be accessed through the eponymous property:

In [115]:
(pd.Timestamp('19690711025615') - pd.Timestamp('-19450508')).days

1429623

A date can be shifted simply by adding to it a `Timedelta`:

In [118]:
print(pd.Timestamp('19450508')+pd.Timedelta('55 days 2 hours 15 minutes 10 seconds'))

1945-07-02 02:15:10

✏️ [Ex.4] 
- ✏️ Create a list of pandas `Timestamps` of all the days between the 24th May 1819 and the 22nd January 1901.
- ✏️ By converting this list into a pandas `Series`, get the median day of this time interval.

In [ ]:
# Your solution here:

### B) Pandas DataFrames

What is a `pandas.DataFrame`? Think of it as an in-memory spreadsheet that you can analyse and manipulate programmatically.

A `DataFrame` is a collection of `Series` having the same length and whose indexes are in sync. A *collection* means that each column of a dataframe is a series

Let's create a toy `DataFrame` by hand.

In [132]:
dates = [pd.Timestamp(1970, 5, 23), pd.Timestamp(1978, 7, 14), pd.Timestamp(1986, 3, 14), pd.Timestamp(1993, 1, 1), pd.Timestamp(1998, 7, 14)]
events = pd.Series(['birth', 'anniversary', 'wedding', 'wedding', 'anniversary'])

From those two lists, you can create a `DataFrame` by passing to `pd.DataFrame` a dictionary:

In [133]:
toy_df = pd.DataFrame({
    "date": dates,
    "event": events
})

# What do you expect when dates and events are changed from lists to Series? Try it out.
# What will happen if the lists are of different lengths?

You can check that the `DataFrame` has been properly constructed. Notice how it is indeed of a tabular shape. To extract its length, you can use `len(DataFrame)`.

In [134]:
print('> This DataFrame has length:', len(toy_df))
display(toy_df)

> This DataFrame has length: 5

        date        event
0 1970-05-23        birth
1 1978-07-14  anniversary
2 1986-03-14      wedding
3 1993-01-01      wedding
4 1998-07-14  anniversary

In [140]:
toy_df

        date        event  name
0 1970-05-23        birth  Paul
1 1978-07-14  anniversary  Paul
2 1986-03-14      wedding  Paul
3 1993-01-01      wedding  Paul
4 1998-07-14  anniversary  Paul

Once the `DataFrame` exists, you can add a column in exactly the same way you would define a new key/value pair in a dictionnary:

`dataframe_name['new_column'] = values`


Here, the datatype of `values` is quite flexible as `Pandas` allows many inputs: `pandas.Series` as we've seen before, but also `numpy.array` or even simple `lists`.

The only condition is that the length of the new column should be of the same length as the `DataFrame`.

There is one exception to that rule: if all rows of the new column have the same value, you can just pass that value as input.

✏️ [Ex.5] 
- ✏️ Add a new column named `author_firstname` to the dataframe `toy_df`. 
- ✏️ This new column should be input using a list-like variable, containing your first name as many times as there are rows.
- ✏️ Add a new column named `author_lastname` to the dataframe, this time containing your last name, and without using a list-like input.

In [144]:
# your solution

toy_df['author_firstname'] = ['Paul', 'Ellen', 'Paul', 'Ellen', 'Ellen']
#toy_df['author_firstname'] = ['Paul' for i in range(5)]

toy_df['author_lastname'] = 'Guhennec'

In [146]:
toy_df.set_index('date')

                  event  name author_firstname author_lastname
date
1970-05-23        birth  Paul             Paul        Guhennec
1978-07-14  anniversary  Paul            Ellen        Guhennec
1986-03-14      wedding  Paul             Paul        Guhennec
1993-01-01      wedding  Paul            Ellen        Guhennec
1998-07-14  anniversary  Paul            Ellen        Guhennec

## Section (2): First manipulations of the dataframe

### A) General information on the dataframe

Some first pieces of information on a dataframe are given by the following useful functions: `df.head()`, `df.tail()`, `df.info()`.

The method `info()` gives you information about a dataframe:
- how much space does it take in memory?
- what is the datatype of each column?
- how many records are there?
- how many `null` values does each column contain (!)?

In [149]:
toy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              5 non-null      datetime64[ns]
 1   event             5 non-null      object
 2   name              5 non-null      object
 3   author_firstname  5 non-null      object
 4   author_lastname   5 non-null      object
dtypes: datetime64[ns](1), object(4)
memory usage: 332.0+ bytes

Alternatively, if you need to know only the number of columns and rows you can use the `.shape` property. 

It is a property, not a method — therefore it should be called without brackets.

Calling the property returns a tuple with 1) number of rows, 2) number of columns.

In [150]:
toy_df.shape

(5, 5)

`head()` prints by first five rows of a dataframe:

In [154]:
toy_df.sample(3)

        date        event  name author_firstname author_lastname
3 1993-01-01      wedding  Paul            Ellen        Guhennec
4 1998-07-14  anniversary  Paul            Ellen        Guhennec
1 1978-07-14  anniversary  Paul            Ellen        Guhennec

But the number of lines displayed is a parameter that can be changed:

In [ ]:
toy_df.head(2)

`tail()` does the opposite, i.e. prints the last n rows in the dataframe:

In [155]:
toy_df.tail(2)

        date        event  name author_firstname author_lastname
3 1993-01-01      wedding  Paul            Ellen        Guhennec
4 1998-07-14  anniversary  Paul            Ellen        Guhennec

You may sometimes want to sort the dataframe based on the values in one column.

To do this, you may use the `.sort_values(<column>)` method. 

The column will then be sorted depending on the datatype:
- numerically (float, integers);
- chronologically (datetimes);
- alphabetically (strings).

In [159]:
toy_df.sort_values('event', ascending=True)

        date        event  name author_firstname author_lastname
1 1978-07-14  anniversary  Paul            Ellen        Guhennec
4 1998-07-14  anniversary  Paul            Ellen        Guhennec
0 1970-05-23        birth  Paul             Paul        Guhennec
2 1986-03-14      wedding  Paul             Paul        Guhennec
3 1993-01-01      wedding  Paul            Ellen        Guhennec

If you want to invert the sorting (z-to-a, 9-to-1, etc.), use the `ascending=False` argument.

In [ ]:
toy_df.sort_values('event', ascending=False)

### B) Columns and datatype

The columns of a `pandas.DataFrame` can be accessed as follows:

In [172]:
toy_df

        date        event  name author_firstname author_lastname
0 1970-05-23        birth  Paul             Paul        Guhennec
1 1978-07-14  anniversary  Paul            Ellen        Guhennec
2 1986-03-14      wedding  Paul             Paul        Guhennec
3 1993-01-01      wedding  Paul            Ellen        Guhennec
4 1998-07-14  anniversary  Paul            Ellen        Guhennec

In [171]:
toy_df['date']

0   1970-05-23
1   1978-07-14
2   1986-03-14
3   1993-01-01
4   1998-07-14
Name: date, dtype: datetime64[ns]

 It returns a `pandas.Series`, the type we've seen in the introductory section of this notebook. To access its **values** the property keyword is used:

In [173]:
print(type(toy_df['date']))
print(toy_df['date'].values)

<class 'pandas.core.series.Series'>
['1970-05-23T00:00:00.000000000' '1978-07-14T00:00:00.000000000'
 '1986-03-14T00:00:00.000000000' '1993-01-01T00:00:00.000000000'
 '1998-07-14T00:00:00.000000000']

Each column in a `pandas.DataFrame` has a data type. Being sure that the right datatype is used is essential.

Depending on the nature of the data, its type can be changed using the method `.astype()`. 

For example, changing from a `pandas.Timestamp` to a `str` is possible:

In [ ]:
type(toy_df['date'].astype(str)[0])

In [181]:
toy_df['date'].astype(str)

0    1970-05-23
1    1978-07-14
2    1986-03-14
3    1993-01-01
4    1998-07-14
Name: date, dtype: object

But changing from a `pandas.Timestamp` to a `float` is not possible:

In [ ]:
## What do you expect when you run the following?
#print(toy_df['date'].astype(float))

### C) Accessor properties

For certain data types (string, datetime), `pandas` provides a number of common methods that can be called on any series containing values of that type. These methods become available as methods of the series itself within a property — called *accessor* — named after the data type:

- the `.dt.*` accessor contains methods to operate on `datetime` series
- the `.str.*` accessor contains methods to operate on `str` (string) series.

Accessors are amongst the most convenient features of data manipulation in `pandas`.

They act on a `pandas.Series`, typically the column of a `DataFrame` and return a `pandas.Series` of the same length. The output new series is the result of the element-wise operation on the input series.

Let's start with temporal manipulation:

#### `datetime` accessor

To work with datetime series `pandas` provide a bunch of useful methods to operate on a series: they can be called from the `.dt` property of a datetime series.

They can be used to:
- convert from one timezone to another
- get the day/day name/month/year information from each date
- and much more (see the [documentation]())

In [193]:
toy_df['date'].dt.day_name()

0    Saturday
1      Friday
2      Friday
3      Friday
4     Tuesday
Name: date, dtype: object

✏️ [Ex.6] 
To see this in action: 
- ✏️ Access your dataframe's `date` column
- ✏️ Print for each the corresponding day of the week. To do this, you should use the `datetime` accessor, and use the method `day_name`. This will return a `pandas.Series`.
- ✏️ Add the day of the week as a new column.
- ✏️ Try to do this again in a one-liner.

In [199]:
# your solution here:
toy_df['date_day'] = toy_df['date'].dt.day_name()
toy_df

        date        event  name author_firstname author_lastname  date_day
0 1970-05-23        birth  Paul             Paul        Guhennec  Saturday
1 1978-07-14  anniversary  Paul            Ellen        Guhennec    Friday
2 1986-03-14      wedding  Paul             Paul        Guhennec    Friday
3 1993-01-01      wedding  Paul            Ellen        Guhennec    Friday
4 1998-07-14  anniversary  Paul            Ellen        Guhennec   Tuesday

#### `str` accessor

Much like the `datetime` accessor, the `str` one is the entry door to many very useful methods that you may need to tidy, process, or analyse your data.

Among other things, you can easily:
- test if the string starts with another string, 
- convert between lower and upper case, 
- determine if the string matches a regular expression,
- replace one substring with one another.

For example, if you want to check if the first three letters of the `event` column are those of "wedding", you can use:

In [200]:
toy_df

        date        event  name author_firstname author_lastname  date_day
0 1970-05-23        birth  Paul             Paul        Guhennec  Saturday
1 1978-07-14  anniversary  Paul            Ellen        Guhennec    Friday
2 1986-03-14      wedding  Paul             Paul        Guhennec    Friday
3 1993-01-01      wedding  Paul            Ellen        Guhennec    Friday
4 1998-07-14  anniversary  Paul            Ellen        Guhennec   Tuesday

In [203]:
toy_df['event'].str.startswith('wed')

0    False
1    False
2     True
3     True
4    False
Name: event, dtype: bool

You can also chain the accessors. However, remember than the output of an accessor method is a `pandas.Series`. You will therefore need to access `str` again!

For example, if you want first to capitalise a column, before checking whether it starts with the first letters of "wedding", you can do:

In [205]:
toy_df['event'].str.capitalize().str.startswith('Wed')

0    False
1    False
2     True
3     True
4    False
Name: event, dtype: bool

In [ ]:
#This time, we match with "Wed"

toy_df['event'].str.capitalize().str.startswith('wed')

✏️ [Ex.7] 
- ✏️ Using the `str` accessors, create a new column `is_weekend` that states if the date fell during a weekend.
- ✏️ The new column should be a boolean (True/False).

In [213]:
~ toy_df['date_day'].str.startswith('S')

0    False
1     True
2     True
3     True
4     True
Name: date_day, dtype: bool

In [207]:
# your solution here:
toy_df['is_weekend'] = toy_df['date_day'].str.startswith('S')

toy_df

,date,event,name,author_firstname,author_lastname,date_day,is_weekend
0,1970-05-23,birth,Paul,Paul,Guhennec,Saturday,True
1,1978-07-14,anniversary,Paul,Ellen,Guhennec,Friday,False
2,1986-03-14,wedding,Paul,Paul,Guhennec,Friday,False
3,1993-01-01,wedding,Paul,Ellen,Guhennec,Friday,False
4,1998-07-14,anniversary,Paul,Ellen,Guhennec,Tuesday,False

## Section (3): Input/Output

Up until now, we have created and manipulated data from scratch.

However most often, they are created by loading existing data into a dataframe by means of `pandas`' input/output methods:

- Either by loading a complete dataframe, for example if you want to manipulate a CSV file;
- Or by loading the data columns independantly, and combining them into one dataframe.

#### From JSON

A very common data format is JSON, explicit, efficient, and widely used over the internet.

We will take here the example of some data on books from the British Library. We extracted it from the BL as a JSON file. You may face such a scenario in your research.

Loading data from a JSON file is very similar to creating a `DataFrame` from a `dict`, like we've done in Section (1).

This is how one would do it in pure Python:

In [ ]:
import json
json_file_path = '../data/bl_books/sample/book_data_sample.json'

# JSON data gets read into a dictionary

with open(json_file_path, 'r') as jsonfile:
    json_data = json.load(jsonfile)
    
books_df = pd.DataFrame(json_data)

In [ ]:
books_df.head()

Since reading from files is a very common operation in any data analysis workflow, `pandas` provides methods to read from a variety of formats (JSON, CSV, clipboard, etc.)

The block of code above can be replaced by the following one-liner:

In [ ]:
books_df = pd.read_json(json_file_path)

In [ ]:
books_df.head()

#### From CSV

Similarly to `pandas.read_json()`, `pandas.read_csv()` is there to make your life easier when it comes to loading CSV data into a dataframe (and that happens very often!).

This is particularly useful if you want to export dataframes into files compatible with Excel or other tabular data software. 

Let's see how to import one of the CSV files from the "Venice Apprenticeship" dataset (`../data/apprenticeship_venice/`). 

They contain information extracted from ~10,000 work contracts in 17th-century Venice, in particular master-apprentice relationships in the glass-industry. The apprentices were nick-named *garzoni*, hence the name of the dataset.

In [ ]:
csv_file_path = '../data/apprenticeship_venice/professions_data.csv'

Try the following. Does it work? Before going to the next cell, can you guess why?

In [ ]:
garzoni_df = pd.read_csv(csv_file_path)

Let's have a look at the file first:

In [ ]:
!head -n 2 ../data/apprenticeship_venice/professions_data.csv

More than a comma-separated value, it looks like semicolon-separated values...
We thus need to adjust the `sep` parameter to specify which character is used to separate column values.

In [ ]:
garzoni_df = pd.read_csv(
    csv_file_path,
    sep=';'
)

### Export

Once you have a `DataFrame` to play with in you python environment, exporting it is quite straightforward. 

Each export format has its own method: `.to_csv()`, `.to_json()`, `.to_html()`, etc.

The argument of the function is simply the `<path name>`, and sometime optional arguments, like which value separator you want to use for `.csv` files:

`<your_dataframe>.to_csv(<export_path>, sep=<which_separator>)`

In [ ]:
toy_df.to_csv('example_dataframe.csv', sep=';')

## Section (4): Accessing and manipulating data.

We now have learned to get our hands on larger dataframes, with thousands of rows and dozens of columns, akin to the sort you may manipulate in a typical DH project.

It is now time to learn how to access the data stored in those dataframes.

### Indexing

There are two main ways to find information contained in a dataframe cell:
- either you know exactly where it is in the dataframe, for example if your frame is in a specific order;
- or, you want to access one or more cells based on conditions.

Let's take our books dataframe for the first of those cases. If you want to know the 'title' of the n-th row, you can get it using the `.at` keyword. The structure is:

`<dataframe>.at[<row_number>, <column_name>]`

✏️ [Ex.8]
- ✏️ What is the 'title' of the 26th row?

In [ ]:
# your solution here:


If we take the example of the `books_df` again, we might want to find all books that have been printed in 1841, or perhaps do we want all books printed privately, or perhaps still do we want all books privately printed in 1841:

The property to use to do this is called `.loc`. This is perhaps the most important `pandas` function.

It is applied to a `pandas.DataFrame` and returns a subset of that dataframe that matches the conditions given.

What is the structure? Retaking the examples phrased earlier, this is what it looks like? Is that structure clear to you?

In [ ]:
# One condition
messy_data = books_df.loc[~(books_df['datefield'].str.isnumeric())]
clean_data = books_df.loc[(books_df['datefield'].str.isnumeric())]

print('Clean data: ', len(clean_data))
print('Messy data: ', len(messy_data))
print(f"The data to clean is: {100*len(messy_data)/len(books_df)}%")

In [ ]:
messy_data

In [ ]:
# Another condition
books_df.loc[books_df['publisher']=='Privately printed']
books_df.loc[books_df['datefield']=='1841']

In [ ]:
# Both conditions
books_df.loc[(books_df['datefield']=='1841')&(books_df['publisher']=='Privately printed')]

Conditions can be combined using Boolean logic. We can thus for example search for:
- Condition A **and** Condition B
- Condition A **or** Condition B
- Condition A **and not** Condition C
- etc.

The boolean operators are the same as in traditional Python: `&`, `|`, `~`, etc.

✏️ [Ex.9]

Using the indexing structure we've just seen, try to find which book(s) obey the following conditions:

- ✏️ 1° Published by 'John Murray' in 1856
- ✏️ 2° Printed in London in 1818
- ✏️ 3° Published between 1830 and 1848
- ✏️ 4° Published by 'Longmans & Co.' or 'Henry Colburn'
- ✏️ 5° Published in 1894 but not by 'W. Blackwood & Sons'

In [ ]:
# your solution here:

### NaN values

Throughout your own research, you will most likely stumble upon instances where your data is incomplete: incomplete metadata from an external source, data manipulation exceptions that don't return a value, missing record. 

This will take the form of a cell containing a `None` or `numpy.nan` value.

It is important to know how to filter them out (or in) in `pandas`, especially as they can mess up some functions you might want to apply to the whole dataframe.

For example, let's take our earlier toy dataframe and remove one cell;

In [ ]:
toy_df

In [ ]:
toy_df.at[2, 'event'] = np.nan
toy_df

To find which rows are NA in a specific **column**, we use the following `.isna()` method.

It returns a `series` of booleans telling whether the matching row has a nan value.

In [ ]:
toy_df['event'].isna()

Using our `.loc` operator, we can convert that to a subset of the dataframe:

In [ ]:
toy_df.loc[toy_df['event'].isna()]

Empty cells can be filled with one replacement value. For example here, we might want to prefer "unknown" to a NaN value.

Be careful, `.fillna()` returns a `pandas.Series`, not a full dataframe. Therefore we use its output to recreate a column:

In [ ]:
s = toy_df['event'].fillna('not known', inplace=True)

### Reindexing

To change the value of one or more cells, you should know which rows are concerned by the change.
Like earlier, this can come either:
- from the precise row number (if you know beforehand which row/column cell you want to change)
- from a certain condition being met (let's change all cells that start with 'unk', for example)

The reindexing can be thought of as two distinct parts:
- 1° knowing which rows to change;
- 2° modifying the values of these rows for a specific column.

To do this, use the following structure:

`<dataframe>.loc[<dataframe>[<column_to_test>]==<value_to_check_for>, <column_to_change>] = <new_value>`

Continuing with our toy dataframe, this expression selects all rows whose 'event' is 'birth':

In [ ]:
toy_df.loc[toy_df['event']=='wedding']

Let's say you may want to change that into 'marriage':

In [ ]:
toy_df.loc[toy_df['event']=='wedding', 'event'] = 'marriage'

In [ ]:
toy_df

But again, the testing column doesn't have to be the one you change.

More generally, this is:
`<dataframe>.loc[<condition>, <column_to_change>] = <new_value>`

For example, say I want to change my last name in our earlier dataframe:

✏️ [Ex. 10]

In this exercise, we will combine what we've seen on Indexing, Detecting NA values, and Reindexing.

The dataframe of books that was opened from a JSON earlier `books_df` contains information on which is the identifier to a first page scan. This information is in the column `imgs`.
In some cases however, the image does not exist and the cell is empty.

- ✏️ Find how many books do not have an image (column `imgs`)
- ✏️ Find *which* books do not have an image
- ✏️ Replace the empty cells that do not have an image with a dummy value
- ✏️ (Advanced) Find which are the top four geographical origin for books without an image.

In [ ]:
# your solution here:

### Iterating

As a rule of thumb, one should prioritise any data manipulation that can be performed in one shot. `pandas.DataFrame` are ineffecient objects for frequent modification. 

However, there are scenarios where you may want to iterate over the rows of the dataframe. For example, to perform row-wise tests or manipulation that require access to more than one column.

To do that, the `.iterrows()` method (for "iterration over rows") should be used. 

Just like an `enumerate` in traditional python, the `.iterrows()` method will return two elements at each iteration:
- the index of the row (between 0 and the length of the dataframe);
- the row corresponding to that iteration.

That row is a `pandas.Series`. It acts a bit like a python `dictionary` and the value for a specific column is accessed through:
`row[<column>]`

In [ ]:
for i in toy_df.iterrows():
    index = i[0]
    row = i[1]

In [ ]:
for index, row in toy_df.iterrows():
    print('The event at index', index, 'is:', row['event'])

✏️ [Ex. 11]

Here we will combine iteration, and `datetime` and `str` accessors. By iterating over the `toy_df` dataframe:

- ✏️ Print the date of each row as well
- ✏️ Print the day of the week that each date corresponds to
- ✏️ Print whether the event starts with 'bir'

In [ ]:
# your solution here:

## Final exercise: Shakespeare and Company project

**Dataset**

For this excercise, we will be working with an open-access data from a DH research project: the [*Shakespeare and Company project*](https://shakespeareandco.princeton.edu/).

The dataset we'll be using contains the list of books that were lent out in the 20th century by the celebrated *Shakespeare and Company* library in Paris.

The dataset can be downloaded from the following address:https://dataspace.princeton.edu/handle/88435/dsp01jm214s28p (file size = ~2MB).

You may use CSV or JSON:
- the CSV file will only contain `str`, `float` and `int`;
- whereas the JSON file will contain `lists`.

The choice will be one of comfort. Pick whichever yields the datatypes you are more comfortable with.
 
**Steps**

Start by loading the file it into a `pandas.DataFrame` called "SCo"

**Try to answer the following questions**
- 1° How many records does it contain?


- 2° What's the format(s) of the **most purchased** document(s)? How many times was it/were they purchased?
- 3° What's the format(s) of the **least borrowed** document(s)? How many times was it/were they borrowed?

- 4° Which is the most borrowed **book**? How many times was it borrowed?

- 5° How many 'Poems' are there in collection? What is the earliest one? How many don't have a date?

- 6° Replace the empty cells in the `circulation_year` column with "unknown".
- 7° Find which books were in circulation in 1951
- 8° (Advanced) By iterating over the rows of the dataframe, create a dictionnary of dates that gives how many books from the datafram were in circulation that year.

In [ ]:
# your solution here: